@model List<GastroHub.Models.Recipe>

@{
    ViewData["Title"] = "GastroHub";
}

<div class="container">
    <!-- Naslov na sredini -->
    <div class="row mb-4">
        <div class="col-12 text-center">
            <h1>GastroHub</h1>
        </div>
    </div>

    <!-- Pretraga i gumb za dodavanje recepta -->
    <div class="row mb-4 d-flex justify-content-center">
        <div class="col-md-6 d-flex">
            <form method="get" asp-action="Index">
                <input type="text" class="form-control" placeholder="Pretraži" name="searchTerm" />
                <button class="btn btn-primary" type="submit">Pretraži</button>
            </form>
        </div>
    </div>

    <!-- Gumb za sortiranje po vremenu -->


<!-- Kartice s receptima -->
<div class="row">
    @foreach (var recipe in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@recipe.Name</h5>
                    <p class="card-text">@recipe.Ingredients</p>
                    <p class="card-text"><strong>Vrijeme slaganja:</strong> @recipe.PreparationTime</p>
                    <a href="@Url.Action("RecipeDetails", "Account", new { id = recipe.Id })" class="btn btn-primary">Pogledaj detalje</a>
                </div>
            </div>
        </div>
    }
</div>
